/* General styles */
button {
    background: var(--dark-background);
    border: none;
    border-radius: 6px;
    color: var(--blue-grey-50);
    padding: 1rem;
    margin-bottom: 3rem;
}
.asterisk {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}

/* main styles */
article h3, article h2 {
    margin-top: 0;
}
main section:nth-child(1) {
    padding-top: 3rem;
    background: var(--blue-grey-50);
}
main section:nth-child(3) {
    padding-top: 3rem;
    background: #78909C;
    color: white;
}
main section:nth-child(4) {
    background: var(--blue-grey-100);
}
main section:nth-child(5) {
    background: var(--blue-grey-800);
}
main section:nth-child(5)>div {
    background: white;
    border-radius: 8px; 
    padding: 2rem 1rem;
}

@media screen and (min-width: 768px) {
    section:nth-child(2) .element-content {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    section:nth-child(2) .element-content article:not(:first-child) {
        text-align: left;
        max-width: 21.5rem;
    }

    section:nth-child(4) .element-content>div {
        display: flex;
        align-items: flex-end;
        column-gap: 2rem;
    }

}
@media screen and (min-width: 1440px) {
    section:nth-child(2) .element-content article:not(:first-child) {
        text-align: left;
        max-width: 20rem;
    }
    section:nth-child(4) .element-content article:nth-child(1) {
        flex-direction: column;
        justify-content: space-between;
    }
    section:nth-child(4) .element-content article:nth-child(2) {
        flex-direction: column;
        justify-content: space-between;
    }
    section:nth-child(4) .element-content>div {
        display: flex;
    }
}
