/* General styles */
button {
    background: var(--dark-background);
    border: none;
    border-radius: 6px;
    color: var(--blue-grey-50);
    padding: 1rem;
    margin-bottom: 3rem;
}
.asterisk {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}

/* main styles */
section {
    padding: 2rem 0rem;
}
article h3, article h2 {
    margin-top: 0;
}
main section:nth-child(1) {
    padding-top: 3rem;
    background: var(--blue-grey-50);
}
main section:nth-child(3) {
    padding-top: 3rem;
    background: #78909C;
    color: white;
}
main section:nth-child(4) {
    background: var(--blue-grey-100);
}
main section:nth-child(5) {
    background: var(--blue-grey-800);
}
main section:nth-child(5)>div {
    background: white;
    border-radius: 8px; 
    padding: 2rem 1rem;
}
.text-align-left {
    text-align: left;
}
article, article ul li {
    margin-bottom: 1rem;
}
/* footer styles */
footer {
    background: var(--footer-nav-background);
    padding-bottom: 4rem;
}
footer nav {
    text-align: left;
    background: var(--footer-nav-background);
}
footer nav .etudes-container {
    justify-content: flex-start;
}
footer nav div:nth-child(2) {
    color: var(--blue-grey-200);
    font-size: 0.80rem;
}
.footer-links {
    display: flex;
}
footer ul li:first-child {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}
footer ul li {
    margin-bottom: 1rem;
    font-size: 0.75rem;
    color: var(--blue-grey-200);
}
.disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    color: var(--blue-grey-200);
}

@media screen and (min-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav ul {
        flex-grow: 1;
        max-width: 20rem;
    }
    section:nth-child(2) .element-content {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    section:nth-child(2) .element-content article:not(:first-child) {
        text-align: left;
        max-width: 21.5rem;
    }

    section:nth-child(4) .element-content>div {
        display: flex;
        align-items: flex-end;
        column-gap: 2rem;
    }
    .footer-top-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-links {
        padding-top: 4rem;
    }
    footer nav {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (min-width: 1440px) {
    }
    section:nth-child(2) .element-content article:not(:first-child) {
        text-align: left;
        max-width: 20rem;
    }
    section:nth-child(4) .element-content article:nth-child(1) {
        flex-direction: column;
        justify-content: space-between;
    }
    section:nth-child(4) .element-content article:nth-child(2) {
        flex-direction: column;
        justify-content: space-between;
    }
    section:nth-child(4) .element-content>div {
        display: flex;
    }
}
